{%  extends "lesson1/base.html" %}

    {% block flushform%}
      <form method = "post">
        {% csrf_token %}
        <input type="hidden" name = "flushDB" value = "flushDB">
        <input type="submit" value = "Flush database of prime numbers">
      </form>
    {% endblock %}

        {{message1}}
        <p></p>

    {% block argumentform %}
      <form>
        <label for = "argument">
        <input id = "argument" type="number" name="argument">
        <input type="submit">
      </form>
    {% endblock %}


    {% block factorizationresult %}

      {%for factor, power in factorization%}
        {%if forloop.first%}
          {{argument}}=
        {%endif%}
        {{factor}}<sup>{{power}}</sup>
        {%if not forloop.last%}
          x
        {%endif%}
      {%endfor%}


    {% endblock %}

      {%if newly_found_primes %}
        <p>The following new prime numbers have been identified while factorizing your task:</p>
        {%for new_prime in newly_found_primes%}
          {{new_prime}}
          {%if not forloop.last%}
          ,
          {%endif%}
        {%endfor%}
      {% else %}
        <p>No new prime numbers were identified while factoring your task:</p>
      {% endif %}
